.presets-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 60px;
}
.definite-presets {
  .Button {
    margin-left: 10px;
    &__innerPreset {
      padding-inline: 20px;
      padding-block: 5px;
      border: 1px solid rgba(63, 81, 181, 1);
      border-radius: 13px;
      color: rgba(63, 81, 181, 1);
      font-family: Epilogue;
      font-size: 18px;
    }
    &:hover {
      transition: 0.5s;
      box-shadow: 0 32px 64px 0 #bcbcbc;
    }
  }
}
.random-presets {
  .Button {
    margin-left: 10px;
    &__innerRPreset {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      justify-content: center;
      align-items: center;
      display: flex;
      border: 1px solid rgba(63, 81, 181, 1);
      color: rgba(63, 81, 181, 1);
      font-family: Epilogue;
      font-size: 18px;
    }
    &:hover {
      transition: 0.5s;
      box-shadow: 0 32px 64px 0 #bcbcbc;
    }
  }
}
