.presets-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 60px;
}
.definite-presets {
  .Button {
    margin-left: 10px;
    &:hover {
      transition: 0.5s;
      box-shadow: 0 32px 64px 0 #bcbcbc;
    }
  }
}
.random-presets {
    .Button {
      margin-left: 10px;
      &:hover {
        transition: 0.5s;
        box-shadow: 0 32px 64px 0 #bcbcbc;
      }
    }
  }